<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuao.game_card_sell.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.liuao.game_card_sell.entity.User">
        INSERT INTO user (
        username, password, email, enabled_status, create_time
        ) VALUES (
        #{username}, #{password}, #{email}, #{enabledStatus},
        #{createTime, jdbcType=TIMESTAMP}
        )
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="selectByUsername" resultType="com.liuao.game_card_sell.entity.User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <select id="checkUsernameExists" resultType="int">
        SELECT COUNT(1) FROM user WHERE username = #{username}
    </select>

    <select id="checkEmailExists" resultType="int">
        SELECT COUNT(1) FROM user WHERE email = #{email}
    </select>
    <select id="findByUsername" resultType="com.liuao.game_card_sell.entity.User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <select id="selectUserList" resultType="com.liuao.game_card_sell.entity.User">
        SELECT * FROM user LIMIT #{offset}, #{limit}
    </select>

    <select id="selectUserCount" resultType="int">
        SELECT COUNT(1) FROM user
    </select>

    <select id="selectPageWithRoles" resultMap="UserWithRolesResultMap">
        SELECT u.*, r.id AS role_id, r.name AS role_name
        FROM user u
        LEFT JOIN user_role ur ON u.id = ur.user_id
        LEFT JOIN role r ON ur.role_id = r.id
        <!-- 分页条件 -->
        LIMIT #{offset}, #{limit}
    </select>

    <resultMap id="UserWithRolesResultMap" type="com.liuao.game_card_sell.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="enabledStatus" column="enabled_status"/>
        <result property="createTime" column="create_time"/>
        <!-- 其他用户字段 -->
        <collection property="roles" ofType="com.liuao.game_card_sell.entity.Role">
            <id property="id" column="role_id"/>
            <result property="name" column="role_name"/>
            <!-- 其他角色字段 -->
        </collection>
    </resultMap>

    <select id="selectUserWithRolesCount" resultType="int">
        SELECT count(1)
        FROM user u
        LEFT JOIN user_role ur ON u.id = ur.user_id
        LEFT JOIN role r ON ur.role_id = r.id
    </select>
</mapper>